@media(max-width: 1100px){
    .navLi2{
        display: none;
    }
    .navTools{
        display: none;
    }
    .toolsBars{
        display: block;
        
    }
  
    .mainNavWrap{
        width: 95%;
    }
}
