*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.titleImage{
    width: 93%;
    background-image: url(../asets/images/Slider.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.socialImg{
    width: 10px;
    height: 18px;
}