
@media(max-width: 1260px){
    .produktItem{
        width: 32%;
    }
}
@media(max-width: 1100px){
    .navLi2{
        display: none;
    }
    .navTools{
        display: none;
    }
    .toolsBars{
        display: block;
        
    }
    .producstWrapper{
        width: 95%;
    }
    .mainNavWrap{
        width: 95%;
    }
}
