* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

.homePage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgb(51, 61, 161);
  padding: 1% 0;
}
.homePage .homeWrap {
  width: 90%;
  max-width: 1300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.homePage .homeWrap .homeInfo {
  width: 45%;
  max-width: 588px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10% 2%;
}
.homePage .homeWrap .homeInfo .welcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2%;
}
.homePage .homeWrap .homeInfo .welcome .spanBar {
  background-color: yellow;
  height: 1px;
  width: 6%;
}
.homePage .homeWrap .homeInfo .welcome h6 {
  color: white;
  font-size: 21px;
}
.homePage .homeWrap .homeInfo .titleText h1 {
  color: white;
  font-size: 64px;
  font-weight: 400;
}
.homePage .homeWrap .homeInfo .titleText p {
  color: white;
  font-family: inter;
  font-size: 25px;
  font-weight: 100;
  text-align: center;
  margin: 10% 0;
}
.homePage .homeWrap .homeInfo .orderWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10%;
}
.homePage .homeWrap .homeInfo .orderWrap .order {
  background-color: yellow;
  width: 42%;
  height: 65px;
  max-width: 222px;
  font-size: 25px;
  font-weight: 200;
}
.homePage .homeWrap .homeInfo .orderWrap a {
  color: white;
  font-size: 25px;
}
.homePage .homeWrap .homeInfo .producstInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.homePage .homeWrap .homeInfo .producstInfo .produktInfoContainer {
  max-width: 169px;
  min-width: 110px;
  width: 32%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.homePage .homeWrap .homeInfo .producstInfo .produktInfoContainer .pointContainer {
  margin-right: 5%;
}
.homePage .homeWrap .homeInfo .producstInfo .produktInfoContainer .productTextBox .productParam {
  color: white;
  font-size: 24px;
  margin-bottom: 15%;
}
.homePage .homeWrap .homeInfo .producstInfo .produktInfoContainer .productTextBox .productValue {
  color: white;
  font-size: 17px;
}