<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/_author.css">
</head>
<body>
    <section class="author">
        <div class="authorProducts">
            <h2 class="authorBooks">The Author's Books</h2>
            <div class="divideBar"></div>
            <div class="productWrap">
            </div>
        </div>
    </section>
</body>
<script src="../scripts/author.js"></script>
</html>